.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0f2be;
    padding: 10px 20px;
  }
  
  .leftSection {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .searchBar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .links span {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
  }
  
  .loginButton {
    background-color: #a8d5ba;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .loginButton:hover {
    background-color: #8ec3a5;
  }
  